body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(73, 72, 72, 0.5)), to(rgba(73, 72, 72, 0.5))), url(/images/silhouettes_hugs.jpg);
  background-image: linear-gradient(rgba(73, 72, 72, 0.5), rgba(73, 72, 72, 0.5)), url(/images/silhouettes_hugs.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.body2 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(73, 72, 72, 0.5)), to(rgba(73, 72, 72, 0.5))), url(/images/couple_sea_sunset.jpg);
  background-image: linear-gradient(rgba(73, 72, 72, 0.5), rgba(73, 72, 72, 0.5)), url(/images/couple_sea_sunset.jpg);
}

#screen-width, #screen-height {
  color: #313131;
  font-weight: bold;
}

.measurement-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  width: 80%;
  margin: 5em auto;
  grid-gap: 3em;
}

@media (max-width: 750px) {
  .measurement-container {
    font-size: .8em;
  }
}

@media (max-width: 560px) {
  .measurement-container {
    font-size: .7em;
  }
}

@media (max-width: 400px) {
  .measurement-container {
    font-size: .6em;
  }
}

.measurement-container .container1 {
  padding: 15px;
  background-color: rgba(226, 81, 81, 0.3);
  color: #fafafa;
  display: inline-block;
  border-radius: 2px;
}

.measurement-container .container1:hover {
  background-color: rgba(224, 66, 66, 0.8);
}

.measurement-container .container2 {
  padding: 15px;
  background-color: rgba(226, 81, 81, 0.3);
  color: #fafafa;
  display: inline-block;
  border-radius: 2px;
}

.measurement-container .container2:hover {
  background-color: rgba(224, 66, 66, 0.8);
}

.measurement-container .container3 {
  padding: 15px;
  background-color: rgba(226, 81, 81, 0.3);
  color: #fafafa;
  display: inline-block;
  border-radius: 2px;
}

.measurement-container .container3:hover {
  background-color: rgba(224, 66, 66, 0.8);
}

.measurement-container .container4 {
  padding: 15px;
  background-color: rgba(226, 81, 81, 0.3);
  color: #fafafa;
  display: inline-block;
  border-radius: 2px;
}

.measurement-container .container4:hover {
  background-color: rgba(224, 66, 66, 0.8);
}

.updateButton {
  padding: 1em 5em;
  cursor: pointer;
  font-weight: bold;
  border: none;
  background-color: #4b4d4e;
  border: 1px solid white;
  color: #ebecec;
  display: inline-block;
  position: absolute;
  bottom: 0;
  -webkit-transition: .2s;
  transition: .2s;
}

@media (max-width: 750px) {
  .updateButton {
    font-size: .9em;
  }
}

@media (max-width: 560px) {
  .updateButton {
    font-size: .7em;
  }
}

@media (max-width: 400px) {
  .updateButton {
    font-size: .5em;
  }
}

.updateButton:hover {
  background-color: #d4d4d4;
  color: black;
}

.updateButton:active {
  background-color: #b9b8b8;
}

@media (max-width: 750px) {
  .updateButton {
    font-size: .9em;
  }
}

@media (max-width: 560px) {
  .updateButton {
    font-size: .7em;
  }
}

@media (max-width: 400px) {
  .updateButton {
    font-size: .5em;
  }
}

.section-heading {
  font-family: 'Roboto Thin';
  text-align: center;
  color: pink;
  margin: 3em 0 0 0;
  -webkit-transition: .5s;
  transition: .5s;
  cursor: pointer;
}

.section-heading:hover {
  color: #47ebf7;
}

@media (max-width: 750px) {
  .section-heading {
    font-size: 2;
  }
}

@media (max-width: 560px) {
  .section-heading {
    font-size: 1.5em;
  }
}

@media (max-width: 400px) {
  .section-heading {
    font-size: 1.2em;
  }
}

.input-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -webkit-transition: 1s;
  transition: 1s;
}

@media (max-width: 950px) {
  .input-container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.input-container input {
  padding: .5em 1em;
  background-color: rgba(240, 232, 232, 0.5);
  border: none;
  border-right: 1px solid rgba(207, 109, 109, 0.5);
}

@media (max-width: 950px) {
  .input-container input {
    font-size: .7em;
  }
}

.input-container button {
  padding: .5em 1em;
  border: none;
  background-color: rgba(240, 232, 232, 0.3);
  color: white;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
}

@media (max-width: 950px) {
  .input-container button {
    font-size: .7em;
  }
}

.input-container button:hover {
  background-color: rgba(240, 232, 232, 0.4);
}

::-webkit-input-placeholder {
  color: rgba(34, 34, 34, 0.7);
}

:-ms-input-placeholder {
  color: rgba(34, 34, 34, 0.7);
}

::-ms-input-placeholder {
  color: rgba(34, 34, 34, 0.7);
}

::placeholder {
  color: rgba(34, 34, 34, 0.7);
}
/*# sourceMappingURL=main.css.map */